    {% include head.html %}
<script>var page ="about";</script>
    <div class="bodyAll">
        {% include menu.html %}
        <section class="headerSection">
            {% include header.html %}

            <div class="pageHeading wow fadeInUp" data-wow-delay=".4s">
                <h1>ABOUT US</h1>
            </div>

            <div class="pageTitle wow fadeInUp" data-wow-delay=".6s">
                <h2>WE create tailor-made luxury packaging <br/>solutions for the most prestigious brands.</h2>
            </div>

            <div class="pageDots wow fadeInUp" data-wow-delay=".7s">...</div>
        </section>
        <section class="bodySection">
            <div class="bigBox wow fadeInUp" style="margin-top: 25px;" data-wow-delay=".8s">
                <div class="halfBox imgBox wow fadeInUp" data-wow-delay=".8s" style="background-image: url('img/image1.jpg');">
                    <!--<img src="img/image1.jpg" title="Image 1" alt="Image 1" width="100%" />-->
                </div>
                <img src="img/image1.jpg" class="imageHidden" title="Image 1" alt="Image 1" width="100%" />
                <div class="halfBox descBox">
                    <div class="boxTitle wow fadeInUp" data-wow-delay=".6s">We are committed to excellence</div>
                    <div class="boxDesc wow fadeInUp" data-wow-delay=".8s">Levantine Luxury Packaging is a customized luxury packaging supplier. We are specialized in rigid and flat boxes, folders, cases, menus, sophisticated book covers, jewelry boxes, leather bill holders and many more items. We create luxury packaging for brands that seek to stand out. <br/><br/> Established in 2016, we strive to provide outstanding quality, reliable services, on-time delivery and long-term business relationships backed up by a team of experts and
                        the latest innovative packaging techniques in a modern and dynamic environment.</div>
                    <div class="boxButton wow fadeInUp" data-wow-delay=".10s"><a href="showcase.html" class="btn btn-sm animated-button thar-three">Our Showcase <span class="rightArrow">></span></a></div>
                </div>
            </div>

            <div class="mission-vision">
                <div class="mission">
                    <div class="title wow fadeInUp" data-wow-delay=".4s">OUR MISSION</div>
                    <div class="description wow fadeInUp" data-wow-delay=".6s">
                        Levantine Luxury Packaging operates in a very challenging environment defined by the ever-changing demands of its partners and customers. Relying on its technical expertise and target-market strategies, it aims at delivering bespoke designs and cost-effective creative solutions that would satisfy even their most selective customers. It offers the highest quality service characterized by a smart approach and unmatched artistry.
                    </div>
                </div>
                <div class="pageDots">..</div>
                <div class="vision">
                    <div class="title wow fadeInUp" data-wow-delay=".8s">OUR VISION</div>
                    <div class="description wow fadeInUp" data-wow-delay="1s">
                        The vision of Levantine Luxury Packaging has both a local and regional focus. We aim at covering the MENA region by partnering up with premium brand owners to create attractive packaging and redefine their consumer experiences.
                    </div>
                </div>
            </div>

            <div class="bigBox bigboxSwap">
                <div class="halfBox descBox">
                    <div class="boxTitle wow fadeInUp" data-wow-delay=".2s">WE deliver creative production<br />techniques & a seamless<br />customer experience
                    </div>
                    <div class="boxDesc wow fadeInUp" data-wow-delay=".4s">We customize our services to meet our clients’ requirements by adding value to the production of any packaging. We continuously bring new smart design solutions to cater to everyday retail packaging challenges and the ever-evolving consumer expectations. <br/><br/> Our end-to-end production services, covering sourcing and sampling, remain at the cutting-edge of innovation to support limited quantities from small projects to large-scale international production.
                    </div>

                    <div class="boxButton wow fadeInUp" data-wow-delay=".6s">
                        <a href="process.html" class="btn btn-sm animated-button thar-three swapedBoxButton">Our Process <span class="rightArrow">></span></a>
                        
                    </div>
                </div>
                <div class="halfBox imgBox" style="background-image: url('img/image2.jpg');">
                    <!--<img src="img/image1.jpg" title="Image 1" alt="Image 1" width="100%" />-->
                </div>
                <img src="img/image2.jpg" class="imageHidden" title="Image 2" alt="Image 2" width="100%" />
            </div>

            <div class="clientsDiv">
                <!--<a href="#" class="btn btn-sm animated-button thar-three">Our Process</a>-->
                <div class="lowerText wow fadeIn" data-wow-delay=".5s">
                    <span>WE deliver bespoke designs & cost-effective <br/>creative solutions that satisfy the most selective CLIENTs.</span>
                </div>

                <div class="pageDots">...</div>
                <div class="clients">
                    <div id="myCarousel" class="owl-carousel owl-theme">
                        
                        {% for i in (1..32) %}
                        <div class="clientItem">
                            <img src="img/cl{{ i }}.png" title="" alt="" width="" />
                        </div>
                        {% endfor %}
                        
                    </div>
                    <!--<a class="carousel-control owl-next" >&lsaquo;</a>-->
                    
                        <div class="prev"><img src= "img/less.png" alt="<" width="8"/></div>
                        <div class="next"><img src= "img/greater.png" alt=">" width="8"/></div>
                
                </div>
            </div>
        </section>

        {% include footer.html %}
    </div>
    

    <script>
        $(document).ready(function() {
            
            

			$window = $(window);
				var wH = $(window).height();
                var wW = $(window).width();
           if(wW > 800){
            $(".bigBox").height(wH);
           } 
            
            $('.owl-carousel').owlCarousel({
                items: 4,
                lazyLoad: true,
                loop: true,addClassActive : true,
                margin: 10,pagination : false,dots: false,
slideBy: 4, //navSpeed:500,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 4,
                        
                    },
                    600: {
                        items: 2,
                    },
                    800: {
                        items: 4,
                        loop: false
                    }
                },
                
           });
            var owl = $("#myCarousel");


            $('.next').click(function() {
                owl.trigger('next.owl.carousel');
            });
            $('.prev').click(function() {
                owl.trigger('prev.owl.carousel');
            });

             setTimeout(function(){$(".headerSection").css({ "background-image": 'url("img/background-about-1.png")' }); }, 1400);   
                    
             
        });

            
    </script>

    <style>
        .mission-vision{ background-image: url("img/background-about-2.png"); background-size: 100%;}
        .clients { padding: 0 10%;}
        .clientItem { width: 90%; }
       
        .headerSection { 
            padding: 15px 15px 0px;
            background-size: 100%;
            background-repeat: no-repeat, no-repeat;
			margin-bottom:0px;
        }
        </style>

</body>

</html>