{% include head.html %}
 
<script>var page ="showcase";</script>
<style>
        .owl-theme .owl-nav.disabled+.owl-dots {
            position: absolute;
            bottom: 30px;
            right: 40px;
        }

        .footerSection {margin:0;position: relative;}
        #myCarousel, #myCarousel div {
            height: 100%;
        }

        .owl-dots {height:20px !important;}
        .bodySection {
            height: calc(100% - 30px);
        }
        .details {
            height: 100%;
        }
        .leftDetails, .rightDetails {
            height: 100%;
        }
        .bodyAll {height:100%;}
        .imageItem img { height:100%; }
        .rightDetails {position:relative;}
        .itemDots {display: block; font-size: 50px;}
    </style>
    <div class="bodyAll">
        <!--style="background-color:#002453;"-->
        <section class="bodySection">
            <div class="details">
                <div class="leftDetails">
                    <div id="myCarousel" class="owl-carousel owl-theme">
                                            <div class="owl-carousel owl-theme">
                        <div class="imageItem">
                            <img src="img/andrea-wazen-1.jpg" title="" alt="" width="70%" />
                        </div>
                        <div class="imageItem">
                            <img src="img/andrea-wazen-2.jpg" title="" alt="" width="70%" />
                        </div>
                        <div class="imageItem">
                            <img src="img/andrea-wazen-3.jpg" title="" alt="" width="70%" />
                        </div>
                    </div>

                    </div>
                </div>
                <div class="rightDetails">
                                        <div class="itemName">ANDREA WAZEN</div>
                    <div class="itemTitle">Hard Cardboard Shoe Boxes</div>
                    <div class="itemDesc">Andrea Wazen is one of Lebanon's very first hand-made luxury footwear designers for women. Her shoe designs are super gorgeous, and the store is equally impressive.
                        <br/>
                        <Br/> After many months of hard work Levantine Luxury Packaging is delighted to unveil their luxury pack for Andrea Wazen shoeboxes. Two elegant color combinations using the client branding colors. All the boxes come in several sizes
                        in a special white and black paper with a golden logo on the cover or two shades of blue paper with the logo in black on the cover.</div>
                    <div class="boxButton">
                        <a href="showcase.html" class="btn btn-sm animated-button thar-three swapedBoxButton">Back to Showcase</a>
                    </div>

                    
                    <div class="bottomShow">
                        <div class="prev"><img src= "img/less.png" alt="<" width="8"/></div>
                        <div class="boxButton">
                            <a href="showcase.html" class="btn btn-sm animated-button thar-three swapedBoxButton">Back to Showcase</a>
                        </div>
                        <div class="next"><img src= "img/greater.png" alt=">" width="8"/></div>
                    </div>
                    
                </div>
            </div>
        </section>

        {% include footer.html %}
    </div>
    <script type="text/javascript" language="javascript" src="js/manage.js"></script>
    <script type="text/javascript " language="javascript " src="js/owl.carousel.js "></script>
    <script>
        $(document).ready(function() {
            $('.owl-carousel').owlCarousel({
                items: 1,
                lazyLoad: true,
                loop: true,
                margin: 10,
                responsiveClass: true
            });

            var owl = $("#myCarousel");
            $('.next').click(function() {
                owl.trigger('next.owl.carousel');
            });
            $('.prev').click(function() {
                owl.trigger('prev.owl.carousel');
            });

        });
    </script>
</body>

</html>