
<div class="menuSection">

    <div class="menuTop">
        
        <div class="menuLogo">
        <a href="index.html"><img src="img/logo.png" title="Levantine" alt="Levantine logo" width="100%" /></a>
        <!--<a href="index.html"><img src="img/thelogo2.png" title="Levantine" alt="Levantine logo" width="100%" /></a>-->
        </div>
        <div class="menuMenu">
            <div class="bars" style="transform: rotate(-45deg);position: relative;top: 0px;"></div>
            <div class="bars" style="transform: rotate(45deg);position: relative;top: -5px;"></div>
        </div>
    </div>
    <div class="menuContainer">
        <div class="menuContent">
            <div class="menuLabels">
                <a class="about" href="about.html">About us</a>
            </div>
            <div class="menuLabels">
                <a class="process" href="process.html">Our Process</a>
            </div>
            <div class="menuLabels">
                <a class="showcase" href="showcase.html">Our Showcase</a>
            </div>
            <div class="menuLabels">
                <a class="contact" href="contact.html">Contact us</a>
            </div>
            
        </div>
    </div>
</div>
